* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #fffafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 80%;
    max-width: 400px;
    height: auto;
    background-color: #403e3e;
    border-radius: 4%;
    display: flex;
    flex-direction: column; /* Set to column layout */
    align-items: center;
    box-shadow: 13px 13px 26px 1px black;
    padding: 20px;
}

#screen {
    width: 90%;
    height: 10vh;
    border-radius: 17%;
    margin: 15px;
    background-color: #0a2315;
    color: whitesmoke;
    font-size: 3vw;
    text-align: right;
    pointer-events: none;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn {
    width: 23%; /* Adjusted width to fit four buttons per row */
    height: 15%;
    margin: 10px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 3vw;
    font-weight: bolder;
}

.op {
    background-color: #1de968;
}

.total {
    background-color: #ef7415;
}

.btn:active {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties as needed */
}
.clear {
    background-color: #e92626;
    width: 100%; /* Set clear button width to 100% */
    margin-top: 10px; /* Add some top margin for spacing */
}

/* Media Queries for different screen sizes */
@media screen and (max-width: 768px) {
    .calculator {
        width: 90%;
    }
    .btn {
        width: 30%;
        font-size: 4vw;
    }
    #screen {
        font-size: 4vw;
    }
    .clear {
        background-color: #e92626;
        width: 100%; /* Set clear button width to 100% */
        margin-top: 10px; /* Add some top margin for spacing */
    }
}

@media screen and (max-width: 480px) {
    .calculator {
        width: 90%;
    }
    .btn {
        width: 45%;
        font-size: 6vw;
    }
    #screen {
        font-size: 6vw;
    }
    .clear {
        background-color: #e92626;
        width: 100%; /* Set clear button width to 100% */
        margin-top: 10px; /* Add some top margin for spacing */
    }
}
